{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <title>{% block titulo %}titulo padrao{% endblock %}</title>
    <!--estilo padrao, acho q n tem necessidade pq tem o arquivo base.css-->
    <style>
        {% block estilo %}
            
        {% endblock %}
    </style>
</head>
<body style="overflow-y: scroll;">

    <div id="container" class="container">
        {% block corpo %}

        {% endblock %}
    </div>

    {% block rodape %}

    {% endblock %}

    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!--scripts padrao acho q n tem necessidade pq tem o arq script.js-->
    <script>
        $(document).ready(function(){

            {% block domready %}

            {% endblock %}
        });
    </script>
</body>
</html>